version: '1'

services:
  react:
    image: node:latest
    ports:
      - 3000:3000
    volumes:
      - ./research-client/package*.json:/usr/src/app
      - ./research-client:/usr/src/app

  node:
    build:
      context: ./research-server
    ports:
      - 3001:3001
    volumes:
      - ./research-server:/usr/src/app
      - ./sur/src/app/node_modules
  
  mysqldb:
    image: mysql:latest
    environment:
      - MYSQL_ROOT_PASSWORD=123456
    ports:
      - 3306:3306 
    volumes:
      - ./mysql:/var/lib/mysql   